body{
    background-color: var(--white);
    min-height: 100vh;
}
.booking-h1{
    color: var(--black);
    padding: 2rem;
    height: 5rem;
}
.form-section{
    width: 100%;
    background-color: var(--primaryblue);
    height: fit-content;
    padding: 2rem 0;
    
}
.booking-ul{display: flex;
flex-direction: column;
align-items: center;
}

.booking-section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.booking-section h3{
    padding: 2rem 0 1rem 0;
    color: var(--black);
}

.delete-all-btn{
    background: var(--black);
    color: var(--white);
    width: 100px;
    border-radius: 50vw;
    height: 3rem;
    margin-left: 35px;
    margin-block: 1rem;
    align-self: center;
}



@media screen and (max-width:600px){
    .delete-all-btn{
        margin-left: 20px;
    }
}