.list-wrapper{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    gap: 1rem;
    align-items: center;
    place-items: center;
    width: 600px;
  
}
.booking-ul{
    gap: 1rem;
}
.booking-ul>*{
    
    border-radius: 5px;
    height: 3rem;
    box-shadow: 1px 1px 3px var(--primaryblue);
}
.list-wrapper{
  
    color: var(--black);
    font-weight: 600;
  
    padding: .5rem 1rem;
  
    justify-content: center;
    margin-inline: auto ;
    
}
.list-wrapper button{
    all: unset;
    width: 2rem;
    height: 2rem;
    display: grid;
    place-items: center;
    color: var(--white);
    
    border-radius: 3px;
    box-shadow: 2px 2px 2px var(--black);
    background:var(--black);
    transition: .5s;
}
.list-wrapper button:hover{
  
    background:var(--gradient);
}
.btn-div{
    display: flex;
    gap: 3px;
}
.list-wrapper input{
    all: unset;
    position: relative;
    width: 50px;
    height: 23px;
  
}
.list-wrapper input::after{
    content: "";
    position: absolute;
    width:  50%;
    height: 100%;
    top: 0%;
    left: 25%;
    background:transparent;
    text-align: center;
    border-radius: 5px;
    outline: 3px solid var(--black);
}

.list-wrapper input:checked::after{
    
    content: "✔";
    background:var(--gradient);
}
@media screen and (max-width:600px) {
    .booking-ul>*{
        height: unset;
    }
    .list-wrapper{
       display: flex;
       flex-direction: column;
       gap: 3px;
       width: fit-content;
    }
    .list-wrapper{
        align-items: center;
    }
}