header {
    background-color: var(--primaryblue);

    .nav-small {
      ul {
        display: none;
      }
    }
  }

  .home-container, .nav-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }

  .logo {
    width: 5rem;
    margin-left: 3rem;
  }
  

  .header-ul {
    display: flex;
    list-style: none;
    gap: 2rem;
  }
  .header-ul *{
    font-family: var(--boldfont);
    text-transform: uppercase;
  }
.nav-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    gap: 2rem;
    
  }
  
  .login-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.3rem;
    margin-right: 1.2rem;
    width: 7.5rem;
    padding: 0.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 1rem;
    color: white;
    background: var(--gradient);
    cursor: pointer;
    font-family: var(--boldfont);
    text-transform: uppercase;
  }

.header-image {
    width: 100%;
    height: 20rem;
  }

  .closeIcon {
    display: flex;
    margin-left: 2%;
    
  }

  .MuiBox-root {
    height: 60%;
    background-color: lightgrey;

    span {
      font-size: 1.2rem;
    }
  }

  .heartIcon {
    margin: 3rem auto;
  }

  @media screen and (max-width: 768px) {
    .nav-large {
        display:none
    }
    .MuiBox-root {
        ul > li  {
          display: flex;
          justify-content: center;
          padding: 1rem;
          text-transform: uppercase;
        }
      }
    }
      /*1 : Behöver lägga till så att öppnad hamburgermeny 
      stängs när man gör skärmstorlek större 
      2:göra listitems, ikoner i hamb menyn större

      
      */ 
    
  


  @media screen and (min-width: 768px) {
    .nav-small {
      display: none;
    }
  }
  