@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

:root {
  --primaryblue: #2b353b;
  --gradient: linear-gradient(300.04deg, #e33d40 17.2%, #e5e226 105.73%);
  --white: #fefcf6;
  --black: #1c1917;
  --boldfont: "Lalezar", system-ui;
  --lightfont: "Source Sans 3", sans-serif;
  --orange: #e49d31;

  font-family: var(--lightfont);

  box-sizing: border-box;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--primaryblue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4 {
  font-family: var(--boldfont);
}

.gradient-border {
  position: relative;
}

.gradient-border::after {
  content: "";
  position: absolute;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  top: -5px;
  left: -5px;
  background: var(--gradient);
}
